[Unit]
Description=Check Mail
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -a
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
