[Unit]
Description=Sync music every 60 minutes
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec=5min
OnUnitActiveSec=60min
Unit=musicsync.service

[Install]
WantedBy=default.target
