[Unit]
Description=Sync music
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/home/ges/.scripts/sync_music
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
