[user]
	email = kruhlmann@protonmail.com
	name = Andreas Kruhlmann
[merge]
	tool = kdiff3
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	conflicts = diff --name-only --diff-filter=U
[credential]
	helper = store
