[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
#[http]
    #proxy = socks5://localhost:8021
[init]
	defaultBranch = master
